<template>
    <modal name="bill-clearance-editor" height="auto" @before-open="setData">
        <div class="card">
            <div class="card-body">
                <div class="loading-spinner" v-if="loading">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <form action="" v-else>
                    <div class="form-group">
                        <label class="control-label">Amount</label>
                        <input type="number" v-model="form.amount" class="form-control">
                        <span v-if="form.errors.hasOwnProperty('amount')" class="text-danger form-text">
                            {{ form.errors.amount[0] }}
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Document Attached</label>
                        <input type="file" class="form-control" @change="setFileSelected">
                        <span v-if="form.errors.hasOwnProperty('document')" class="text-danger form-text">
                            {{ form.errors.document[0] }}
                        </span>
                    </div>
                </form>
            </div>
            <div class="card-footer clearfix">
                <button class="btn btn-primary pull-right" @click="saveItem">Save</button>
            </div>
        </div>
    </modal>
</template>

<script>
    export default {
        name: "BillClearanceEditor",
        props: ['getUrl', 'createUrl'],
        data() {
            return {
                bill: {},
                hasError: false,
                loading: false,
                billId: '',
                form: {
                    amount: '',
                    file: '',
                    errors: {}
                }
            }
        },
        created() {

        },
        methods: {
            setData(event) {
                this.billId = event.params;
            },
            setFileSelected(event) {
                  this.form.file = event.target.files[0];
            },
            saveItem() {
                this.loading = true;
                var form = new FormData;
                form.append('document', this.form.file, this.form.file.name);
                form.append('amount', this.form.amount);
                axios.post(this.createUrl + '/' + this.billId, form)
                    .then((response) => {
                        this.loading = false;
                        console.log(response.data);
                        if (response.data.status === 'success') {
                            window.location.reload();
                        }
                    })
                    .catch(error => {
                        this.loading = false;
                        if (error.response.status === 422) {
                            this.form.errors = error.response.data.errors;
                        }
                    });
            },
        }
    }
</script>

<style scoped>

</style>