<template>
    <div>
        <div class="loading-spinner" v-if="loading">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <form v-else>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="name">Bill Name</label>
                    <input type="text" class="form-control" placeholder="Bill Name" v-model="form.name" required>
                    <span class="form-text text-danger" v-if="form.errors.hasOwnProperty('name')">{{ form.errors.name[0] }}</span>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="cost">Cost</label>
                    <input type="text" class="form-control" placeholder="Estimated Cost" v-model="form.cost" required>
                    <span class="form-text text-danger" v-if="form.errors.hasOwnProperty('cost')">{{ form.errors.cost[0] }}</span>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" @click.prevent="save">Save</button>
        </form>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" v-for="(bill, i)  in rates">{{ bill.name }} - <strong>{{ bill.estimated_cost }} Ksh</strong>
                <div v-if="editing(bill.id)">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="name">Bill Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Bill Name" v-model="editForm.name" required>
                            <span class="form-text text-danger" v-if="errors.hasOwnProperty('name')">{{ errors.name[0] }}</span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cost">State</label>
                            <input type="text" class="form-control" id="cost" placeholder="Estimated Cost" v-model="editForm.cost" required>
                            <span class="form-text text-danger" v-if="errors.hasOwnProperty('cost')">{{ errors.cost[0] }}</span>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" @click.prevent="update(bill.id)">Save</button>
                </div>
                <span class="btn btn-sm pull-right text-danger" @click="deleteItem(bill.id)"><i class="fa fa-trash"></i></span>
                <span class="btn btn-sm pull-right text-info" @click="editItem(bill)" v-if="! editing(bill.id)"><i class="fa fa-edit"></i></span>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "BillsSettingEditor",
        props: ['saveUrl', 'getUrl', 'editUrl', 'deleteUrl'],
        created () {
            this.getValue();
        },
        data() {
            return {
                rate: '',
                nowEditing: '',
                rates: [],
                loading: false,
                hasError: false,
                form: {
                    name: '',
                    cost: '',
                    errors: {

                    }
                },
                editForm: {
                    name: '',
                    cost: ''
                },
                errors: {}
            }
        },
        methods: {
            editing(i) {
                if (this.nowEditing === i) return true;
                return false;
            },
            deleteItem(i) {
                if (confirm('delete this setting?')) {
                    axios.post(this.deleteUrl + '/' + i)
                        .then(response => {
                            if (response.data.status  === 'success') {
                               this.getValue();
                            }
                        });
                }
            },
            editItem(bill) {
                this.nowEditing = bill.id;
                this.editForm.name = bill.name;
                this.editForm.cost = bill.estimated_cost;
            },
            getValue() {
                axios.get(this.getUrl).then((response) => {
                    this.rates = response.data.data;
                });
            },

            save() {
                var request = axios.post(this.saveUrl, this.form);
                this.loading = true;
                this.hasError = false;
                request.then((response) => {
                    this.loading = false;
                    if (response.data.status === 'success') {
                        this.form.name = '';
                        this.form.cost = '';
                        this.getValue();
                        this.$toasted.success("Saved", {
                            theme: "primary",
                            position: "top-right",
                            duration : 5000
                        });
                    }
                }).catch((error) => {
                    this.loading = false;
                    this.hasError = true;
                    this.form.errors = error.response.data.errors;
                });
            },

            update(id) {
                var request = axios.post(this.editUrl + '/' + id, this.editForm);
                this.loading = true;
                this.hasError = false;
                request.then((response) => {
                    this.loading = false;
                    if (response.data.status === 'success') {
                        this.nowEditing = '';
                        this.getValue();
                        this.$toasted.success("Saved", {
                            theme: "primary",
                            position: "top-right",
                            duration : 5000
                        });
                    }
                }).catch((error) => {
                    this.loading = false;
                    this.hasError = true;
                    this.errors = error.response.data.errors;
                });
            }
        }
    }
</script>

<style scoped>

</style>