<template>
    <div class="dropzone__wrapper" v-if="uploaderShown">
       <div class="col-12">
           <button class="btn-xs btn-outline-danger mb-2" @click="uploaderShown = false">cancel</button>
       </div>
        <vue-dropzone
                ref="myVueDropzone"
                id="dropzone"
                :options="dropzoneOptions"
                :acceptedFileTypes="dropzoneOptions.acceptedFiles"
                v-on:vdropzone-success="showSuccess"
                v-on:vdropzone-error="showError"
        />
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.css'

    export default {
        components: {
            vueDropzone: vue2Dropzone
        },
        created() {
            this.url = this.uploadUrl;
            this.dropzoneOptions.headers = {
                'X-CSRF-TOKEN' : document.head.querySelector('meta[name="csrf-token"]').getAttribute('content')
            };
            EventBus.$on('open-uploader', (e) => {
                console.log(e);
               this.setUrl(e)
            });
        },
        props: ['title', 'uploadUrl', 'downloadUrl', 'deleteUrl', 'viewOnly'],
        data() {
            return {
                uploaderShown: false,
                documentTag: '',
                dropzoneOptions: {
                    acceptedFiles : 'image/*,application/pdf',
                    url: '',
                    thumbnailWidth: 150,
                    maxFilesize: 500,
                    headers: null
                },
            }
        },
        methods: {
            showSuccess() {
                window.location.reload(false);
            },
            showError() {

            },
            setUrl(event) {
                this.dropzoneOptions.url = this.uploadUrl + '/' + event.tag;
                this.uploaderShown = true;
            }
        }
    }
</script>

<style scoped>
    .dropzone__wrapper {
        margin:20px 0;
    }
    .thumbnail {
        position: relative;
    }
    .select-photo {
        position: absolute;
        right: 20px;
        top:20px;
    }
    .select-photo input {

    }
</style>