<template>
    <modal name="elec-bill-editor" height="auto" @before-open="setData">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <div class="loading-spinner" v-if="loading">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <form action="" v-else>
                    <div class="form-group">
                        <label class="control-label">Current Usage</label>
                        <input type="number" v-model="form.current" class="form-control">
                        <span v-if="form.errors.hasOwnProperty('current')" class="text-danger form-text">
                            {{ form.errors.current[0] }}
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Previous Usage</label>
                        <input type="number" v-model="form.previous" class="form-control">
                        <span v-if="form.errors.hasOwnProperty('previous')" class="text-danger form-text">
                            {{ form.errors.previous[0] }}
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Rate</label>
                        <input type="number" v-model="form.rate" class="form-control">
                        <span v-if="form.errors.hasOwnProperty('rate')" class="text-danger form-text">
                            {{ form.errors.rate[0] }}
                        </span>
                    </div>

                </form>
            </div>
            <div class="card-footer clearfix">
                <button class="btn btn-primary pull-right" @click="saveItem">Save</button>
            </div>
        </div>
    </modal>
</template>

<script>
    export default {
        name: "ElecBillEditor",
        props: ['getUrl', 'createUrl'],
        data() {
            return {
                bill: {},
                hasError: false,
                loading: false,
                tenantId: '',
                form: {
                    rate: '',
                    current: '',
                    previous: '',
                    errors: {}
                }
            }
        },
        created() {

        },
        methods: {
            setData(event) {
                this.tenantId = event.params.tenant_id;
                const bill = event.params.bill;
                console.log(bill);
                this.form.current = '';
                this.form.previous = '';
                this.form.rate = '';
                if (bill != null) {
                    if (bill.hasOwnProperty('current_usage')) {
                        this.form.current = bill.current_usage;
                    }
                    if (bill.hasOwnProperty('previous_usage')) {
                        this.form.previous = bill.previous_usage;
                    }
                    if (bill.hasOwnProperty('current_rate')) {
                        this.form.rate = bill.current_rate;
                    }
                }
            },
            saveItem() {
                this.loading = true;
                axios.post(this.createUrl + '/' + this.tenantId, this.form)
                    .then((response) => {
                        this.loading = false;
                        console.log(response.data);
                        if (response.data.status === 'success') {
                            window.location.reload();
                        }
                    })
                    .catch(error => {
                        this.loading = false;
                        if (error.response.status === 422) {
                            this.form.errors = error.response.data.errors;
                        }
                    });
            },
        }
    }
</script>

<style scoped>

</style>