<template>
    <modal name="floor-editor" height="auto" @before-open="setData">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <ul v-if="hasError">
                    <li v-for="(error, index) in form.errors" class="text-danger"><strong>{{ error[0]}}</strong></li>
                </ul>
                <div class="loading-spinner" v-if="loading">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <form action="" v-else>
                    <div class="form-group">
                        <label class="control-label">Floor Level</label>
                        <input type="text" v-model="form.level" class="form-control" placeholder="e.g Basement, Ground , 1st, 2nd ...">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Common Area <small>(sq ft)</small></label>
                        <input type="number" v-model="form.common_area" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Rentable Area <small>(sq ft)</small></label>
                        <input type="number" v-model="form.total_rentable_area" class="form-control">
                    </div>

                </form>
            </div>
            <div class="card-footer clearfix">
                <button class="btn btn-primary pull-right" @click="saveItem">Save</button>
            </div>
        </div>
    </modal>
</template>

<script>
    export default {
        props: ['createUrl', 'updateUrl', 'editMode'],

        created() {
            this.postUrl = this.createUrl;
        },

        data() {
            return {
                postUrl: '',
                form: {
                    id: '',
                    common_area: '',
                    total_rentable_area: '',
                    level: '',
                    errors: {}
                },
                hasError: false,
                loading: false
            }
        },

        methods: {
            saveItem() {
                let request = axios.post(this.postUrl, {
                    'id': this.form.id,
                    'rentable_area': this.form.total_rentable_area,
                    'common_area': this.form.common_area,
                    'level': this.form.level
                });
                this.loading = true;
                request.then((response) => {
                    this.loading = false;
                    if (response.data.status === 'success') {
                        window.location.reload(false);
                    }
                }).catch((error) => {
                    this.loading = false;
                    this.hasError = true;
                    this.form.errors = error.response.data.errors;
                });
            },

            setData(event){
                if (typeof event.params !== "undefined") {
                    this.form = event.params;
                    this.postUrl = this.updateUrl + '/' + event.params.id;
                } else {
                    this.postUrl = this.createUrl;
                    let form = this.form;
                    for (var field in form) {
                        if (form.hasOwnProperty(field)) {
                            form[field] = '';
                        }
                    }
                    console.log(form);
                    this.form = form;
                }
            }
        },

        mounted() {
            console.log('Hello');
        }
    }
</script>