<template>
    <modal name="property-chart" width="80%" height="auto" v-on:before-open="setData">
        <div class="card">
            <div class="card-body">
                <canvas id="chart"></canvas>
            </div>
        </div>
    </modal>
</template>

<script>
    import Chart from 'chart.js';

    export default {
        name: "FloorProjection",
        props: ['dataUrl'],
        created() {
            var context = this;
        },
        data() {
            return {
                chartData: {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [],
                    },
                    options: {
                        responsive: true,
                        lineTension: 1,
                        borderColor: '#eeba33',
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    padding: 25,
                                }
                            }]
                        }
                    }
                }
            }
        },
        methods: {
            createChart(container) {
                const chart = new Chart(container, {
                    type: 'line',
                    data: this.chartData.data,
                    options: this.chartData.options,
                });
            },
            setData(event) {
                this.chartData.data.datasets = [];
                this.chartData.data.labels = [];
                var propertyId = event.params.id;
                axios.get(this.dataUrl + '/' + propertyId)
                    .then((response) => {
                        console.log(response.data);
                        var dsObj = response.data.datasets;
                        this.chartData.data.datasets.push(dsObj);
                        this.chartData.data.labels = response.data.labels;
                        var container = document.getElementById('chart');
                        this.createChart(container)
                    });


            },
        }
    }
</script>

<style scoped>

</style>