<template>
    <div>
        <div class="loading-spinner" v-if="loading">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <form role="form" v-else>
            <ul v-if="hasError">
                <li v-for="(error, i) in errors" class="text-danger bold">{{ error[0] }}</li>
            </ul>
            <div class="form-group">
                <label>ID Document Name</label>
                <input type="text" class="form-control" v-model="name" placeholder="National Id">
            </div>

            <button type="submit" class="btn btn-primary" @click.prevent="save">Save Change</button>
        </form>
        <div class="m-t-20">
            <ul class="list-group" style="max-height: 200px;overflow: auto">
                <li v-for="(document, i) in idDocuments" class="list-group-item">{{ document.name}} <span class="btn btn-sm pull-right" @click="deleteItem(document.id)"><i class="fa fa-trash"></i></span></li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "IdDocumentEditor",
        props: ['saveUrl', 'getUrl', 'deleteUrl'],
        created() {
            this.getValues();
        },
        data() {
            return {
                name: '',
                idDocuments: {},
                hasError: false,
                errors: {},
                loading: false
            }
        },
        methods: {
            deleteItem(id) {
                if (confirm('delete item?')) {
                    let request = axios.post(this.deleteUrl, {
                        'id': id
                    });
                    this.loading = true;
                    request.then((response) => {
                        this.loading = false;
                        if (response.data.status === 'success') {
                            this.getValues();
                        }
                    });
                }
            },
            save() {
                var request = axios.post(this.saveUrl, {
                    'name': this.name
                });
                this.loading = true;
                this.hasError = false;
                request.then((response) => {
                    this.loading = false;
                    this.hasError = false;
                    if (response.data.status === 'success') {
                        this.name = '';
                        this.$toasted.success("Saved", {
                            theme: "primary",
                            position: "top-right",
                            duration : 5000
                        });
                    }
                }).catch((error) => {
                    this.loading = false;
                    this.hasError = true;
                    console.log(error);
                    this.errors = error.response.data.errors;
                });
                this.getValues();
            },

            getValues() {
                axios.get(this.getUrl).then((response) => {
                    this.idDocuments = [];
                    this.idDocuments = response.data;
                });
            }
        }
    }
</script>

<style scoped>

</style>