<template>
    <div>
        <div class="loading-spinner" v-if="loading">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <form role="form" v-else>
            <ul v-if="hasError">
                <li v-for="(error, i) in errors" class="text-danger bold">{{ error[0] }}</li>
            </ul>
            <div class="form-group">
                <label>Interest Rate</label>
                <input type="number" class="form-control" v-model="rate" max="100" min="0">
            </div>
            <div class="form-group">
                <button @click.prevent="save" class="btn btn-primary">Save Change</button>
            </div>
        </form>
        <ul class="list-group">
            <li class="list-group-item" v-for="(interestRate, i)  in rates">{{ interestRate.rate }}%
                <span class="btn btn-sm pull-right text-danger mr-20" @click="deleteItem(interestRate.id)"><i class="fa fa-trash"></i></span>
                <!--<span class="btn btn-sm pull-right text-dark mr-20" @click="editItem(interestRate)"><i class="fa fa-edit"></i></span>-->
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "InterestRateSetter",
        props: ['saveUrl', 'getUrl', 'deleteUrl'],
        created () {
          this.getValue();
        },
        data() {
          return {
              rate: '',
              rates: [],
              loading: false,
              hasError: false,
              errors: {}
          }
        },
        methods: {
            getValue() {
                axios.get(this.getUrl).then((response) => {
                    this.rates = response.data;
                });
            },
            deleteItem(id) {
                if (confirm('remove setting?')) {
                    let request = axios.post(this.deleteUrl, {
                        'id': id
                    });
                    this.loading = true;
                    request.then((response) => {
                        this.loading = false;
                        if (response.data.status === 'success') {
                            this.getValues();
                            this.$toasted.show("Deleted", {
                                theme: "primary",
                                position: "top-right",
                                duration : 5000
                            });
                        }
                    });
                }
            },
            save() {
                var request = axios.post(this.saveUrl, {
                    'rate': this.rate
                });
                this.loading = true;
                this.hasError = false;
                request.then((response) => {
                    this.loading = false;
                    if (response.data.status === 'success') {
                        this.getValue();
                        this.$toasted.success("Saved", {
                            theme: "primary",
                            position: "top-right",
                            duration : 5000
                        });
                    }
                }).catch((error) => {
                    this.loading = false;
                    this.hasError = true;
                    this.errors = error.response.data.errors;
                });
            }
        }
    }
</script>

<style scoped>

</style>