<template>
    <div>
        <div class="loading-spinner" v-if="loading">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <form role="form" v-else>
            <ul v-if="hasError">
                <li v-for="(error, i) in errors" class="text-danger bold">{{ error[0] }}</li>
            </ul>
            <div class="form-group row">
                <div class="col-md-6">
                    <label>Payment Term Name</label>
                    <input type="text" class="form-control" v-model="name" placeholder="Quarterly, Monthly e.t.c">
                </div>
                <div class="col-md-6">
                    <label>Period <small>in months</small></label>
                    <input type="number" class="form-control" v-model="period">
                </div>
            </div>

            <button type="submit" class="btn btn-primary" @click.prevent="save">Save Change</button>
        </form>
        <div class="m-t-20">
            <ul class="list-group" style="max-height: 200px;overflow: auto">
                <li v-for="(term, i) in paymentTerms" class="list-group-item">{{ term.name}}
                    <span class="btn btn-sm pull-right" @click="deleteItem(term.id)"><i class="fa fa-trash"></i></span>
                    <span class="btn btn-sm pull-right" @click="editItem(term)"><i class="fa text-primary fa-edit"></i></span>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['saveUrl', 'getUrl', 'deleteUrl'],
        created() {
            this.getValues();
        },
        data() {
            return {
                name: '',
                period: '',
                paymentTerms: {},
                hasError: false,
                errors: {},
                loading: false
            }
        },
        methods: {
            editItem(term) {
                this.$modal.show('payment-terms', term);
            },

            deleteItem(id) {
                if (confirm('delete item?')) {
                    let request = axios.post(this.deleteUrl, {
                        'id': id
                    });
                    this.loading = true;
                    request.then((response) => {
                        this.loading = false;
                        if (response.data.status === 'success') {
                            this.getValues();
                        }
                    });
                }
            },

            save() {
                var request = axios.post(this.saveUrl, {
                    'name': this.name,
                    'period': this.period
                });

                this.loading = true;

                this.hasError = false;
                request.then((response) => {
                    this.loading = false;
                    this.hasError = false;
                    if (response.data.status === 'success') {
                        this.getValues();
                        this.period = '';
                        this.name = '';
                        this.$toasted.success("Saved", {
                            theme: "primary",
                            position: "top-right",
                            duration : 5000
                        });
                        return ;
                    }
                }).catch((error) => {
                    this.loading = false;
                    this.hasError = true;
                    console.log(error);
                    this.errors = error.response.data.errors;
                });
            },

            getValues() {
                axios.get(this.getUrl).then((response) => {
                    console.log(response);
                    this.paymentTerms = response.data;
                });
            }
        }
    }
</script>

<style scoped>

</style>