<template>
    <modal name="payment-terms" @before-open="setData" height="auto">
        <div class="card">
            <div class="card-heading"></div>
            <div class="card-body">
                <div class="form-group">
                    <label>Payment Term Name</label>
                    <input type="text" class="form-control" v-model="name" placeholder="Quarterly, Monthly e.t.c">
                </div>
                <div class="form-group">
                    <label>Period</label>
                    <input type="number" class="form-control" v-model="period">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-sm" @click="updateItem">Save Changes</button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    export default {
        props: ['postUrl'],
        data() {
            return {
                id: '',
                name: '',
                period: ''
            }
        },

        methods: {
            setData(event) {
                this.id = event.params.id;
                this.name = event.params.name;
                this.period = event.params.period;
            },
            updateItem() {
               var request = axios.post(this.postUrl, {
                    'id': this.id,
                    'name': this.name,
                    'period': this.period
                });

                request.then((response) => {
                    this.loading = false;
                    this.hasError = false;
                    if (response.data.status === 'success') {
                        // this.getValues();
                        // this.period = '';
                        // this.name = '';
                        // this.$toasted.success("Saved", {
                        //     theme: "primary",
                        //     position: "top-right",
                        //     duration : 5000
                        // });
                        window.location.reload(false);
                        return ;
                    }
                }).catch((error) => {
                    this.loading = false;
                    this.hasError = true;
                    console.log(error);
                    this.errors = error.response.data.errors;
                });
            }
        }
    }
</script>

<style scoped>

</style>