<template>
    <modal name="property-editor" height="auto" @before-open="setData">
       <div class="card">
           <div class="card-header">

           </div>
           <div class="card-body">
               <ul v-if="hasError">
                   <li v-for="(error, index) in form.errors" class="text-danger"><strong>{{ error[0]}}</strong></li>
               </ul>
               <div v-if="loading">
                   <div class="loading-spinner">
                       <div class="double-bounce1"></div>
                       <div class="double-bounce2"></div>
                   </div>
               </div>
               <form action="" v-else>
                   <div class="form-group">
                       <label for="name">Name</label>
                       <input type="text" name="name" id="name" class="form-control" v-model="form.name">
                   </div>
                   <div class="form-group">
                       <label for="location">Location</label>
                       <input type="text" name="location" id="location" class="form-control" v-model="form.location">
                   </div>
               </form>
           </div>
           <div class="card-footer clearfix">
               <button class="btn btn-primary pull-right" @click="saveItem">Save</button>
           </div>
       </div>
    </modal>
</template>

<script>
    export default {
        props: ['createUrl', 'updateUrl'],

        created() {
          this.postUrl = this.createUrl;
        },

        data() {
          return {
              postUrl: '',
              form: {
                  id: '',
                  name: '',
                  number_of_floors: 1,
                  location: '',
                  errors: {}
              },
              hasError: false,
              loading: false
          }
        },

        methods: {
          saveItem() {
              let request = axios.post(this.postUrl, {
                  'id': this.form.id,
                  'name': this.form.name,
                  'floors': this.form.number_of_floors,
                  'location': this.form.location,
              });
              this.loading = true;
              request.then((response) => {
                  this.loading = false;
                  if (response.data.status === 'success') {
                      window.location.reload(false);
                  }
              }).catch((error) => {
                  this.loading = false;
                  this.hasError = true;
                  this.form.errors = error.response.data.errors;
              });
          },

          setData(event){
              if (typeof event.params !== "undefined") {
                this.form = event.params;
                this.postUrl = this.updateUrl + '/' + event.params.id;
              }
          }
        },

        mounted() {
            console.log('Hello');
        }
    }
</script>

<style>
    .number-input {
        -webkit-appearance: none;
        border: 1px solid #ebebeb;
        float: left;
        font-size: 16px;
        height: 36px;
        margin: 0;
        outline: none;
        text-align: center;
        width: calc(100% - 80px);
    }
    .number-input-button {
        -webkit-appearance: none;
        transition: background .5s ease;
        background: #387e90;
        border: 0;
        color: #fff;
        cursor: pointer;
        float: left;
        font-size: 20px;
        height: 36px;
        margin: 0;
        outline: none;
        width: 36px;
    }
    .loading-spinner {
        width: 40px;
        height: 40px;

        position: relative;
        margin: 100px auto;
    }

    .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #333;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;

        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    @-webkit-keyframes sk-bounce {
        0%, 100% { -webkit-transform: scale(0.0) }
        50% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bounce {
        0%, 100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        } 50% {
              transform: scale(1.0);
              -webkit-transform: scale(1.0);
          }
    }
</style>
