<template>
    <div>
        <p class="lead text-info">The system will be sending monthly reports to the emails you define below</p>
        <hr>
        <div class="loading-spinner" v-if="loading">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <form v-else>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" placeholder="Name" v-model="form.name" required>
                    <span class="form-text text-danger" v-if="form.errors.hasOwnProperty('name')">{{ form.errors.name[0] }}</span>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" placeholder="Email" v-model="form.email" required>
                    <span class="form-text text-danger" v-if="form.errors.hasOwnProperty('email')">{{ form.errors.email[0] }}</span>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" @click.prevent="save">Save</button>
        </form>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" v-for="(user, i)  in rates">{{ user.name }} - <strong>{{ user.email }}</strong>
                <div v-if="editing(user.id)">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" v-model="editForm.name" required>
                            <span class="form-text text-danger" v-if="editForm.errors.hasOwnProperty('name')">{{ editForm.errors.name[0] }}</span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" v-model="editForm.email" required>
                            <span class="form-text text-danger" v-if="editForm.errors.hasOwnProperty('email')">{{ editForm.errors.email[0] }}</span>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" @click.prevent="update(user.id)">Save</button>
                </div>
                <span class="btn btn-sm pull-right text-danger" @click="deleteItem(user.id)"><i class="fa fa-trash"></i></span>
                <span class="btn btn-sm pull-right text-info" @click="editItem(user)" v-if="! editing(user.id)"><i class="fa fa-edit"></i></span>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "ReportEmailsEditor",
        props: ['saveUrl', 'getUrl', 'editUrl', 'deleteUrl'],
        data() {
            return {
                loading: false,
                rates: [],
                nowEditing: '',
                form: {
                    email: '',
                    name: '',
                    errors: {}
                },
                editForm: {
                    email: '',
                    name: '',
                    errors: {}
                }
            }
        },
        created() {
            this.getRecords();
        },
        methods: {
            save() {
               axios.post(this.saveUrl, this.form)
                   .then(response => {
                       if (response.data.status === 'success') {
                           this.$toasted.success("Saved", {
                               theme: "primary",
                               position: "top-right",
                               duration : 5000
                           });
                           this.form.name = '';
                           this.form.errors = {};
                           this.form.email = '';
                           this.getRecords();
                       }
                   })
                   .catch(error => {
                       if (error.response.status === 422) {
                           this.form.errors = error.response.data.errors;
                       }
                   });
            },
            editing(i) {
                if (this.nowEditing === i) return true;
                return false;
            },
            getRecords() {
                axios.get(this.getUrl)
                    .then(response => {
                        this.rates = response.data.data;
                    });
            },
            editItem(bill) {
                this.nowEditing = bill.id;
                this.editForm.name = bill.name;
                this.editForm.email = bill.email;
            },
            update(id) {
                var request = axios.post(this.editUrl + '/' + id, this.editForm);
                this.loading = true;
                this.hasError = false;
                request.then((response) => {
                    this.loading = false;
                    if (response.data.status === 'success') {
                        this.nowEditing = '';
                        this.getRecords();
                        this.$toasted.success("Saved", {
                            theme: "primary",
                            position: "top-right",
                            duration : 5000
                        });
                    }
                }).catch((error) => {
                    this.loading = false;
                    this.hasError = true;
                    this.errors = error.response.data.errors;
                });
            },
            deleteItem(i) {
                if (confirm('delete this setting?')) {
                    axios.post(this.deleteUrl + '/' + i)
                        .then(response => {
                            if (response.data.status  === 'success') {
                                this.getRecords();
                            }
                        });
                }
            },
        }
    }
</script>

<style scoped>

</style>