<template>
    <div>
        <div class="loading-spinner" v-if="form.loading">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <form>
            <div class="form-row">
                <div class="col-8">
                    <div class="alert alert-info "><strong>Service Charge:</strong> {{ value}} Ksh</div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-8">
                    <input type="number" v-model="form.value" class="form-control mb-2" id="inlineFormInput">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2" @click.prevent="save">Save</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "ServiceChargeEditor",
        props: ['saveUrl', 'getUrl'],
        data() {
            return {
                value: '',
                form: {
                    value: '',
                    loading: false,
                    hasError: false,
                    errors: {}
                }
            }
        },
        created() {
            this.getValue();
        },
        methods: {
            save() {
                var request = axios.post(this.saveUrl, {
                    'value': this.form.value
                });
                this.loading = true;
                this.hasError = false;
                request.then((response) => {
                    this.loading = false;
                    if (response.data.status === 'success') {
                        this.value = '';
                        this.$toasted.success("Saved", {
                            theme: "primary",
                            position: "top-right",
                            duration : 5000
                        });
                        this.getValue();
                    }
                }).catch((error) => {
                    this.loading = false;
                    this.hasError = true;
                    this.errors = error.response.data.errors;
                });
            },
            getValue() {
                axios.get(this.getUrl).then((response) =>{
                    this.value = response.data;
                });
            }
        }
    }
</script>

<style scoped>

</style>