<template>
    <modal name="user-editor" height="auto" @before-open="setData">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <ul v-if="hasError">
                    <li v-for="(error, index) in form.errors" class="text-danger"><strong>{{ error[0]}}</strong></li>
                </ul>
                <div v-if="loading">
                    <div class="loading-spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
                <form action="" v-else>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" v-model="form.name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" class="form-control" v-model="form.email">
                    </div>
                </form>
            </div>
            <div class="card-footer clearfix">
                <button class="btn btn-primary pull-right" @click="saveItem">Save</button>
            </div>
        </div>
    </modal>
</template>

<script>
    export default {
        props: ['createUrl', 'updateUrl'],

        created() {
            this.postUrl = this.createUrl;
        },

        data() {
            return {
                postUrl: '',
                form: {
                    id: '',
                    name: '',
                    email: '',
                    errors: {}
                },
                hasError: false,
                loading: false
            }
        },

        methods: {
            saveItem() {
                let request = axios.post(this.postUrl, {
                    'id': this.form.id,
                    'name': this.form.name,
                    'email': this.form.email,
                });
                this.loading = true;
                request.then((response) => {
                    this.loading = false;
                    if (response.data.status === 'success') {
                        window.location.reload(false);
                    }
                }).catch((error) => {
                    this.loading = false;
                    this.hasError = true;
                    this.form.errors = error.response.data.errors;
                });
            },

            setData(event){
                if (typeof event.params !== "undefined") {
                    this.form = event.params;
                    this.postUrl = this.updateUrl + '/' + event.params.id;
                }
            }
        },

        mounted() {
            console.log('Hello');
        }
    }
</script>

<style scoped>

</style>